{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Action link' %}
{% extends 'component-example.njk' %}

{% set exampleWidth = 'content' %}

{% set code %}
  {% from 'components/action-link/macro.njk' import actionLink %}

  {{ actionLink({
    "text": "Find a minor injuries unit",
    "href": "https://www.nhs.uk/service-search/minor-injuries-unit/locationsearch/551"
  }) }}
{% endset %}

{% block description %}
  amdoaimwd oiawmdo aiwmdo aimw d
{% endblock %}
