{% set html_style = 'background-color: #f0f4f5;' %}
{% set title = 'Breadcrumb' %}
{% extends 'component-example.njk' %}

{% set examplePosition = 'body' %}

{% set code %}
  {% from 'components/breadcrumb/macro.njk' import breadcrumb %}

  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "https://www.nhs.uk/"
      },
      {
        text: "Health A-Z",
        href: "https://www.nhs.uk/conditions"
      }
    ],
    href: "https://www.nhs.uk/conditions/abscess/",
    text: "Abscess"
  }) }}
{% endset %}

{% block description %}
  amdoaimwd oiawmdo aiwmdo aimw d
{% endblock %}
